<!DOCTYPE html>
<html>
<head lang = 'en'>
  <meta charset="utf-8">
  <!-- include source files here... -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script type="text/javascript" src="./src/thermostat.js"></script>
  <script type="text/javascript" src="./src/jquery.js"></script>

</head>

<body>
  <style>
  body {
    background-image: url("https://wallpaperbrowse.com/media/images/4927470-awesome-wallpapers-hd.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: green;
    text-align: center;
  }

  .low-usage {
    color: green;
  }

  .medium-usage {
    color: yellow;
  }

  .high-usage {
    color: red;
  }
  </style>
  Welcome to Thermostat.<br>
  Current temperature: <span id='temp'></span><br><br>
  <button type="button" id='up'>Increase Temperature!</button>
  <button type="button" id='down'>Decrease Temperature!</button>
  <button type="button" id='reset'>Reset temperature!</button><br><br>
  Saving mode: <span id='mode'></span> <br>
  <button type="button" id='switch'>Change usage mode!</button><br><br>
  Usage: <span id='usage'></span><br><br>

  City: <span id='currentcity'></span> <br><br>
  Outside Temperature: <span id='outsideTemp'></span><br><br>

    <input type='text' id='city'></input><br><br>
    <input type='submit' id='sendcity' value='Select City'></input>
</body>
</html>
