<!DOCTYPE html>
<html>
<head>
  <!-- include source files here... -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="../src/thermostat.js"></script>

</head>

<body>
  Welcome to Thermostat.<br>
  Current temperature:<br><br>
  <button type="button" name='up'>Increase Temperature!</button>
  <button type="button" name='down'>Decrease Temperature!</button>
  <button type="button" name='reset'>Reset temperature!</button><br><br>
  Saving mode:<br>
  <button type="button" name='Switch'>Change usage mode!</button><br><br>
  Usage:
</body>
</html>
